:root{
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --padding: 15px;
    --pre-free: calc(100vw - var(--max-width) + var(--padding));
    --free-space: max(0px,var(--pre-free));
    --brand-primary: #171725;
    --brand-secondary: #06b2bc;
    --brand-accent: #ff3f24;
    --brand-accent-80: rgba(255,63,36,0.07843);
    --brand-extra: #ffb919;
    --dng-gray-900: #28283e;
    --dng-gray-800: #666676;
    --dng-gray-700: #8b8b9a;
    --dng-gray-600: #c2c2cc;
    --dng-gray-500: #dedee4;
    --dng-gray-400: #e9e9ee;
    --dng-gray-300: #efeff2;
    --dng-gray-200: #f4f4f6;
    --dng-gray-100: #fafafb;
    --dng-gray-alt: #e9ecee;
    --dng-white: #fff;
    --dng-system-error: #ff2e5b;
    --dng-system-success: #1fc69d;
    --dng-system-process: #ffa332;
    --dng-system-null: #8b8b9a;
    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    --space-64: 64px;
    --space-80: 80px;
    --space-15: 15px;
    --max-width: 1140px;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    color: #171725;
    font-size: 13px;
    font-family: "Poppins",var(--font-family-sans-serif);
    box-sizing: border-box;
    outline: none!important;
    display: block;
    background-color: #fff;
}